<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
						http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>

    <security:global-method-security secured-annotations="enabled">
    </security:global-method-security>

    <context:component-scan base-package="com.bisone.saiku"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${_jdbc.driver}"/>
        <property name="url"
                  value="${_jdbc.url}"/>
        <property name="username" value="${_jdbc.username}"/>
        <property name="password" value="${_jdbc.password}"/>
    </bean>

    <bean id="userDetailsService"
          class="com.bisone.saiku.security.UserDetailsServices">
    </bean>

    <!--
    参考官方文档：
    http://docs.spring.io/spring-security/site/docs/4.0.3.CI-SNAPSHOT/reference/htmlsingle/#siteminder-example-configuration
    -->

    <!-- BASIC AUTHENTICATION -->
    <security:http pattern="/rest/saiku/info" security="none">
    </security:http>
    <security:http pattern="/rest/saiku/info/ui-settings" security="none">
    </security:http>
    <security:http pattern="/repository/**" security="none">
    </security:http>
    <security:http use-expressions="true">
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/serverdocs/**" access="isAnonymous()"/>
        <security:intercept-url pattern="/rest/saiku/session*" access="isAnonymous() or isFullyAuthenticated()"/>
        <security:intercept-url pattern="/rest/saiku/session/" access="isAnonymous() or isFullyAuthenticated()"/>

        <security:intercept-url pattern="/rest/**" access="isFullyAuthenticated()"/>
        <security:intercept-url pattern="/json/**" access="isFullyAuthenticated()"/>
        <security:intercept-url pattern="/WEB-INF/classes/legacy-schema" access="isAnonymous()"/>
        <security:logout logout-url="/logout"/>
        <security:http-basic/>

        <security:custom-filter position="PRE_AUTH_FILTER" ref="siteminderFilter"/>

    </security:http>


    <bean id="siteminderFilter"
          class="com.bisone.saiku.interceptor.SSORequestHeaderAuthenticationFilter">
        <property name="principalRequestHeader" value="REMOTE_USER"/>
        <property name="exceptionIfHeaderMissing" value="false"/>
        <!-- hard code a testUserId for local tests -->
        <property name="testUserId" value="admin"/>
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <bean id="preauthAuthProvider"
          class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <property name="preAuthenticatedUserDetailsService">
            <bean id="userDetailsServiceWrapper"
                  class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <property name="userDetailsService" ref="userDetailsService"/>
            </bean>
        </property>
    </bean>
    <bean id="securityContextHolderAwareRequestFilter"
          class="org.springframework.security.web.servletapi.SecurityContextHolderAwareRequestFilter"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="preauthAuthProvider"/>
    </security:authentication-manager>

    <bean id="sessionService" class="com.bisone.saiku.security.replace.SessionService">
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <bean id="connectionManager" class="com.bisone.saiku.security.replace.SecurityAwareConnectionManager" init-method="init"
          destroy-method="destroy" depends-on="mondrianVFS">
        <property name="dataSourceManager" ref="repositoryDsManager"/>
        <property name="sessionService" ref="sessionService"/>

    </bean>

    <!-- redis -->

    <!-- Jedis ConnectionFactory -->
    <!--<bean-->
            <!--id="jedisConnectionFactory"-->
            <!--class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"-->
            <!--p:host-name="${redis.host-name}" />-->

    <!--&lt;!&ndash; redis template definition &ndash;&gt;-->
    <!--<bean-->
            <!--id="redisTemplate"-->
            <!--class="org.springframework.data.redis.core.RedisTemplate"-->
            <!--p:connection-factory-ref="jedisConnectionFactory"/>-->

    <!--&lt;!&ndash; declare Redis Cache Manager &ndash;&gt;-->
    <!--<bean-->
            <!--id="cacheManager"-->
            <!--class="org.springframework.data.redis.cache.RedisCacheManager"-->
            <!--c:template-ref="redisTemplate"/>-->


</beans>
